#common --noincompatible_disable_autoloads_in_main_repo

common --incompatible_autoload_externally=+@rules_python,+java_common,+JavaInfo,+JavaPluginInfo,java_binary,java_import,java_library,@com_google_protobuf
